# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [40]:
def lesser_of_two_evens(a, b):
    while a % 2 == 0 or b % 2 == 0:
        if a < b:
            print(a)
        else: 
            print(b)
        break
    else:
        print('Both of them are odd number.')

In [41]:
# Check
lesser_of_two_evens(2,4)

2

In [18]:
# Check
lesser_of_two_evens(2,5)

2

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [25]:
def animal_crackers(text):
    if text.split()[0][0].lower() == text.split()[1][0].lower():
        print(True)
    else :print(False)

In [26]:
# Check
#text = 'Levelheaded Llama' 
#text.split()[1][0].lower()
animal_crackers('Levelheaded Llama')

True

In [27]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [77]:
def makes_twenty(n1,n2):
    #if n1 + n2 == 20 or n1==20 or n2==20 :
    #    print(True)
    #else: print(False)
    return(n1+n2 == 20 or n1==20 or n2 == 20) # it's more elegant

In [78]:
# Check
makes_twenty(20,10)

True

In [79]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [43]:
def old_macdonald(name):
    new_name = name[0].upper() + name[1:3] + name[3].upper() + name[4:]
    print(new_name)

In [45]:
# Check
#name = 'macdonald'
#rint(name[0].upper)
old_macdonald('macdonald')

MacDonald

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [52]:
def master_yoda(text):
    print(
        " ".join([text.split()[2], text.split()[1], text.split()[0]])
    )

In [53]:
# Check
master_yoda('I am home')
#text='I am home'
#text.split()[2] + ' ' + text.split()[1] + ' ' + text.split()[0]
#" ".join([text.split()[2], text.split()[1], text.split()[0]])

home am I

In [54]:
# Check
master_yoda('We are ready')

ready are We

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [55]:
def almost_there(n):
    if (90 <= n <=110) or (190 <= n <=200 ):
        print(True)
    else:
        print(False)

In [56]:
# Check
almost_there(104)

True

In [61]:
# Check
almost_there(150)

False

In [60]:
# Check
almost_there(209)

False

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [85]:
def has_33(nums):
    #leng = len(nums)
    for n in range(0, len(nums)-1):     
        if nums[n] == 3 and nums[n+1] ==3:
            return True
    return False

In [87]:
# Check
#len([1,3,3])
has_33([1, 3, 3])

True

In [88]:
# Check
has_33([1, 3, 1, 3])

False

In [89]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [4]:
def paper_doll(text):
    new_text = ''
    for i in range(0, len(text)):
        new_text += text[i] * 3 
    return new_text

In [6]:
# Check
#text='Hello'
paper_doll('Hello')

'HHHeeellllllooo'

In [7]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [28]:
def blackjack(a,b,c):
    bj = a+b+c # Can't use sum(a,b,c) in python.
    if bj > 21 and 11 not in (a,b,c):
        return 'BUST'
    elif 11 in (a,b,c):
        return bj - 10
    else: return bj

In [29]:
11 in (5,6,7)

False

In [18]:
# Check
blackjack(5,6,7)

18

In [19]:
# Check
blackjack(9,9,9)

'BUST'

In [20]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [55]:
def summer_69(arr):
    total = 0
    for num in range(0,len(arr)):
        if not 6 <= arr[num] <= 9:
            total = total + arr[num]
    return total
summer_69([1, 3, 5]) # 9 is correct
summer_69([4, 5, 6, 7, 8, 9]) # 9 is correct
summer_69([2, 1, 6, 9, 11]) # 14 is correct

14

In [45]:
# Code by Travis Shen
def summer_69(arr):
    total = 0
    lock = False
    i = 0

    while not lock:
        if i == len(arr) - 1:
            lock = True
        if not 6 <= arr[i] <= 9:
            total = total + arr[i]        
        i = i + 1
    return total

    while True:
        if not 6 <= arr[i] <= 9:
            total = total + arr[i]   
        if i == len(arr) - 1:
            break
        i = i + 1
    return total

summer_69([1,2,3,4,5,6,7])

15

In [ ]:
# Check
summer_69([1, 3, 5])

In [ ]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

In [ ]:
# Check
summer_69([2, 1, 6, 9, 11])

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [62]:
def spy_game(nums):
    code = [0, 0, 7, 'x'] # use a code templete
    # 1st pop: code = [0,7,'x']
    # 2nd pop: code = [7,'x']
    # 3rd pop: code = ['x']
    # len(code) == 1
    for i in nums:
        if i == code[0]:
            code.pop(0)
    return len(code) == 1 # if have 007 then true else false

In [63]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [64]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [65]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [62]:
def count_primes(num):
    cp = 0
    prime_list = [2, 3, 5, 7]
    for i in range(2, num):
        if i % 2 != 0 and i % 3 != 0 and i % 5 != 0 and i % 7 != 0:
            cp += 1
            prime_list.append(i)
        else:
            cp = cp
    print(prime_list)
    return len(prime_list)

In [61]:
# Check
count_primes(1000)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 121, 127, 131, 137, 139, 143, 149, 151, 157, 163, 167, 169, 173, 179, 181, 187, 191, 193, 197, 199, 209, 211, 221, 223, 227, 229, 233, 239, 241, 247, 251, 253, 257, 263, 269, 271, 277, 281, 283, 289, 293, 299, 307, 311, 313, 317, 319, 323, 331, 337, 341, 347, 349, 353, 359, 361, 367, 373, 377, 379, 383, 389, 391, 397, 401, 403, 407, 409, 419, 421, 431, 433, 437, 439, 443, 449, 451, 457, 461, 463, 467, 473, 479, 481, 487, 491, 493, 499, 503, 509, 517, 521, 523, 527, 529, 533, 541, 547, 551, 557, 559, 563, 569, 571, 577, 583, 587, 589, 593, 599, 601, 607, 611, 613, 617, 619, 629, 631, 641, 643, 647, 649, 653, 659, 661, 667, 671, 673, 677, 683, 689, 691, 697, 701, 703, 709, 713, 719, 727, 731, 733, 737, 739, 743, 751, 757, 761, 767, 769, 773, 779, 781, 787, 793, 797, 799, 803, 809, 811, 817, 821, 823, 827, 829, 839, 841, 851, 853, 857, 859, 863, 869, 871, 877, 881, 883, 887, 893, 899, 901, 907, 911, 913, 919, 923, 929, 937, 941, 943, 947, 949, 953, 961, 967, 971, 977, 979, 983, 989, 991, 997]

231

In [ ]:
def count_primes2(num):
    # Store prime numbers
    primes = [2]
    # Counter going up to the input num
    x = 3 # 從3開始算，每隔2計算
    if num < 2:
        return 0
    # X is going through every number up to input num
    while x <= num: # 從3開始算
        # Check if x is prime
        for y in primes:  # 去primes list裡面找
            if x % y == 0: # 如果現在的數字x可以被primes list裡面的任一數字整除，則不是質數，所以把x+2後跳出迴圈
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!